@page "/"

<PageTitle>Index</PageTitle>

<h1 style="font-family:'Bauhaus 93'"><b>Bem vindo ao nosso sistema de venda de passagens</b></h1>
<hr />

<img src="/images/logo_rodoviariaonline-01.png" width="850" height="350" />

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
